/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.text-white{
    color: white !important;
}

.text-grey{
    color: #757575 !important;
}

#main {

}

#header {
    height: 46.5px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav, .subnav{
    list-style-type: none;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:hover > .subnav{
    display: block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    display: inline-block;
    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down{
    font-size: 12px;
    margin-left: 4px;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#header .search-btn{
    float: right;
    padding: 0 25px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

.search-btn i{
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    line-height: 46.5px;
}

.subnav li{
    width: 100%;
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 22px;
    padding: 8px 16px;
    width: 100%;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    background: url('/assets/img/Slider/Slider1.jpg') top center/cover no-repeat;
}

.slider-img{
    width: 100%;
    height: 50vm;
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    padding: 32px 16px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
}

#slider .text-description{
    font-weight: 700;
    font-size: 15px;
    margin: 15px 0;
    color: #fff;
}

/* Content */
#content {

}

#content .content-section{
    padding: 64px 16px;
    width: 800px;
    margin-left: auto;
    margin-right: auto ;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 450;
    letter-spacing: 4.5px;
    text-align: center;
    margin: 10px 0;
}

#content .section-sub-heading{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin: 15px 0;
    opacity: 0.54;
}

/* About section */
#content .about-text{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
    text-align: justify;
}

#content .member-list{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content .member-item{
    width: 32%;
    text-align: center;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img{
    width: 154px;
    border-radius: 5px;
}

/* Tour section */
#content .tour-section{
    background: #000;
}

.ticket-list{
    background-color: white;
    /* margin-top: 40px; */
}

.ticket-list li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    list-style-type: none;
}

.ticket-list .sold-out{
    padding: 0 8px;
    margin-left: 16px;
    color: white;
    background-color: #f44336;
}

.ticket-list .quantity{
    float: right;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-top: -2.5px;
}

.place-list{
    margin: 0 -16px;
    padding: 32px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place-item{
    padding: 0 8px;
    margin-bottom: 16px;
    background-clip: content-box;
}

.place-img{
    width: 100%;
    display: block;
}

.place-body{
    background-color: white;
    padding: 0 16px;
    padding-top: 15px;
    padding-bottom: 24px;
}

.place-heading{
    margin-bottom: 15px;
}

.place-time, .place-desc{
    margin: 15px 0;
}

.place-desc{
    line-height: 1.5;
}

.place-buy-btn{
    padding: 8px 16px;
    margin: 15px 0;
    text-decoration: none;
    background-color: black;
    color: white;
}

.place-img:hover{
    opacity: 0.6; 
}

.place-buy-btn:hover{
    background: #ccc;
    color: black;
}

#footer {

}
